### Maven / Java ###
target/

### IDEs ###
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/

### OS files ###
.DS_Store

### Logs ###
*.log

### Binaries / Archives ###
*.class
*.jar
*.war
*.ear
